<HTML>
<HEAD>

	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="/static/js/svg.jquery.js"></script>
	<script type="text/javascript" src="/static/js/pygal-tooltips.js"></script>
	<link rel="icon" type="image/png" href="/static/Skeleton-2.0.4/images/favicon.png">

</HEAD>
<BODY>
<div class="ten columns"> <!-- 6 column div for overall -->

<div class="ten columns" align="center" id="printGraph"> <!-- for testing bokeh -->
{{ bar_chart.render()|safe }}
</div> <!-- end of testing bokeh -->

</DIV>

</BODY>
</HTML>
