<HTML>
<HEAD>

	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/static/Skeleton-2.0.4/css/normalize.css">
	<link rel="stylesheet" href="/static/Skeleton-2.0.4/css/skeleton.css">

	<link rel="icon" type="image/png" href="/static/Skeleton-2.0.4/images/favicon.png">

	<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/static/js/sijax.js"></script>
</HEAD>
<BODY>
<div class="ten columns"> <!-- 6 column div for overall -->

<div class="ten columns" align="center" id="printGraph"> <!-- for testing bokeh -->
<img src="{{ svgPic }}"></img>
</div> <!-- end of testing bokeh -->

</DIV>

</BODY>
</HTML>
